@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

:root{
    --font-size: 13px;
    --background: white;
    --border-color: #dadada;
}

body {
  background-color: transparent !important;
}

.container {
  background: #fff;
  width: 400px;
  height: auto;
  min-width: auto;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid #dadada;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.logo > span{
    font-weight: bold;
    color: #000;
    font-size: 13px;
    margin-left: 2px
}
.close > img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.content {
  margin-top: 1rem;
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap-column: 2;
}

.text{
    margin: 8px 0;
    font-size: 13px;
    padding: .5rem;
    border: 1px solid #dadada;
    background: #F3F3F3;
    border-radius:5px;
    border-left: 4px solid #fb8500;

}
.action {
  
}

.action > button {
  width: 100%;
  padding: 1rem 2rem;
  background: #fb8500;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}
.action > button:active{
  scale: 0.97;
}
::selection{
    background: #fb8500;
}